body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.register-container, .login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.register-container label, .login-container label {
    font-weight: bold;
}

.register-container input, .login-container input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container button, .login-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container button:hover, .login-container button:hover{
    background-color: #45a049;
}

.home-container {
    text-align: center;
    padding: 50px;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.danger {
    color: red;
}

.success {
    color: green;
}